* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #eeeef7;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
/* header - name bar with nav bar  */
header {
  display: flex;
  background-color: #31343d;
  justify-content: space-between;
  padding: 0.625em 1.875rem 0.625em 0;
  align-items: center;
}

.nameBar {
  font-size: 3rem;
  background-color: #92ccce;
  padding-left: 6rem;
  padding-right: 1rem;
}

.navBar {
  font-size: 1.5em;
  flex-direction: row;
  justify-content: space-betweens;
}
.navBar a {
  color: #92ccce;
  padding: 0 1em;
}

.navBar a:hover {
  color: #31343d;
  background-color: #92ccce;
}
/* background picture with subtitle  */
.subtitle {
  background-image: url(../image/subtitle.jpg);

  text-align: right;
  font-size: 1.3em;
  color: #31323d;
}
.subtitle span {
  background-color: #92ccce;
}
.subtitle h2 {
  display: inline-block;
  padding: 3em 1.875rem 0.5em 1em;
}
/* main */
main {
  color: #445877;
}
section {
  padding: 1.875rem;
  display: flex;
}
/* all left textbox */
.aside {
  overflow: auto;
  text-align: right;
  width: 20vw;
  flex-shrink: 0;
  border-right: 0.188rem solid;
  padding: 1rem 1rem 0 3rem;
  font-size: 2.5em;
}
/* about me section text */
.main_text {
  padding-left: 1rem;
  margin: 2em auto 0;
}

.mypic {
  background-image: url(../image/lk-bio.JPG);
  border-radius: 70%;
  overflow: hidden;
  width: 25vh;
  height: 25vh;
  background-size: contain;
  float: left;
  margin: 0 1rem 1rem 0;
}

.imagecontainer {
  padding-left: 1rem;
  width: 100%;
  margin: 2em auto 0;
}

.main_image_container {
  margin-bottom: 1.25em;
}

.main_image_container,
.imagecards {
  position: relative;
}

.image_title {
  background-color: #92ccce;
  width: 11em;
  padding: 0.3em 1.2em;
  position: absolute;
  left: 0;
  bottom: 30px;
}
.image_title h3 {
  font-size: 1.2em;
}
.main_image {
  background-image: url(../image/project1.jpg);
  height: 30em;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.8em #92ccce solid;
}
/* display flex & flex-warp warp made 2 x2  */
.smallimagegrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imagecards {
  min-width: 48.8%;
  margin-bottom: 1.25em;
}

.smallImage1 {
  background-image: url("../image/project2.jpg");
  height: 12em;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: 0.8em #92ccce solid;
}
.smallImage2 {
  background-image: url("../image/project3.jpg");
  height: 12em;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: 0.8em #92ccce solid;
}
.smallImage3 {
  background-image: url("../image/project4.jpg");
  height: 12em;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: 0.8em #92ccce solid;
}
.smallImage4 {
  background-image: url("../image/project5.jpg");
  height: 12em;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: 0.8em #92ccce solid;
}

/* contact me section */
.section3 {
  display: flex;
}

.contact_links {
  font-size: 1.5em;
  color: #445877;
  padding-top: 2.5rem;
  flex-direction: row;
}

.contact_links a {
  color: #445877;
  padding: 2em;
}
.contact_links a:hover {
  text-decoration: underline;
}
