body {
  background-color: lightpink;
  display: flex;
  flex-direction: column;
}
span {
  background-color: lightyellow;
}
header {
  background-color: lightseagreen;
  flex-direction: row;
  justify-content: flex-end;
}
nav div {
  justify-content: flex-end;
}
.cool_subtitile {
  background-color: magenta;
}
main {
  background-color: lightcoral;
}

section {
  background-color: lightgreen;
}

.main_left {
  background-color: lightslategrey;
}

.main_right {
  background-color: lightskyblue;
}
