* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #eeeef7;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

header {
  display: flex;
  background-color: #31343d;
  justify-content: space-between;
  padding: 0.625em 1.875rem 0.625em 0;
  align-items: center;
}

.nameBar {
  font-size: 3rem;
  background-color: #92ccce;
  padding-left: 6rem;
  padding-right: 1rem;
}

.navBar {
  font-size: 1.5em;
  flex-direction: row;
  justify-content: space-betweens;
}
.navBar a {
  color: #92ccce;
  padding: 0 1em;
}

.navBar a:hover {
  color: #31343d;
  background-color: #92ccce;
}

.subtitle {
  background-image: url(../image/subtitle.jpg);
  
 text-align: right;
  font-size: 1.3em;
  color: #31323d;
  
}
.subtitle span {
  background-color: #92ccce;
  
}
.subtitle h2 {
    display: inline-block; 
    padding: 3em 1.875rem 0.5em 1em; 
}; 

main {
    color: #445877;

}
section { 
    padding: 1.875rem; 
    display: flex; 

}



.aside { 
    overflow: auto;
    text-align: right;
    width: 20vw;
    flex-shrink: 0;
    border-right: 0.188rem solid;
    padding: 1rem 1rem 0 3rem;
    font-size: 2.5em;
    

}
.main_text {
    padding-left: 1rem;
}

.mypic { 

    background-image: url(../image/lk-bio.JPG);
    border-radius: 70%;
    overflow: hidden; 
    width: 25vh;
    height: 25vh;
    background-size: contain;
    float: left;
    margin: 0 1rem  1rem 0; 



}












@ media screen and (max-width: 600px)  {
  header {
    flex-direction: column;
    align-items: center;
  }
  .nameBar {
    font-size: 2em;
  }
  .navBar a {
    flex-direction: column;
  }
}
