body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}
/* all font size, padding, margin, border need to be corrected later  */
/* #445877
#92ccce
#31343d
#1c1d21
#eeeef7 */

/* makes nav bar to sit right side */
/* need to change backgroun color later */
header {
  background-color: lightslategray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 40px;
  padding-left: 10px;
}
/* need to add background image later */
.subtitle {
  text-align: right;
  background-color: lightyellow;
  height: 10vh;
}
.subtitle h2 {
  padding-right: 30px;
  padding-top: 40px;
}

span {
  background-color: #92ccce;
  margin: 0;
}
.subtitle span h2 {
  font-size: 20px;

  color: #31323d;
  display: inline-block;
}

/* main styling */
/* about me section  */
.about_me {
  background-color: lightskyblue;
  display: flex;
}
.title {
  border: 5px solid;
}
.about_me .title {
  flex: 25%;
}
.about_me .main_text {
  flex: 75%;
}
/* work section  */
.work {
  display: flex;
}
.work .title {
  flex: 25%;
}
.work .imagecontainer {
  background-color: lightslategray;

  justify-content: space-between;
}
.work .imagecards {
  justify-content: space-around;
  background-color: lightyellow;
  border: 5px #92ccce solid;
}
#card1 {
  width: 600px;
  height: 300px;
  border: 5px #92ccce solid;
}
/* contact section */
.contact {
  background-color: lightpink;
  height: 30vh;

  padding-right: 30px;
  display: flex;
}
.contact .title {
  background-color: lightsalmon;

  right: 10px;
  flex: 25%;
}
.contact .contact_lists {
  flex: 75%;
}
